@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Vollkorn&display=swap');

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background: linear-gradient(0deg,#240b36 60% ,#e67487 );
    
}

header{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #9b7b5b;
}
.head_menu nav ul li ul{
    position: absolute;
    top: 43px;
    display: none;
    text-align: center;
    right: 0%;
    min-width: 15px;
    width: 225px;
}

.headtitle{
    border-top: 1px solid ;
    border-bottom: 1px solid;
    text-align: center;
}

.head_menu nav ul li:hover ul{display: block;}

.head_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 50px;
    padding-bottom: 2px;
    padding-top: 2%;
}
.head_menu header{
    font-size: 30px;
    color: #ffffff;
    text-shadow: #000000 0 0 4px;
    
}
hr{
    padding-top: 0px;
    margin: 1%;

}
.head_menu ul li:hover{
    background: rgb(184, 176, 176);
}
.head_menu nav ul{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 2%;
    position: relative;
    min-width: 585px;
    text-shadow: #e67487 0 0 4px; 
    color: #ffffff;
    
}
p{
    font-family: 'Open Sans', sans-serif;
    color:#BCC1D4
    
}
nav li{
    padding: 10px 30px;
    list-style-position: inside;
    font: 10px;
    color: #F0F2F0;
    background: gray;
}

nav a{
    color: aliceblue;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
}
.main_sect{
    margin: 3%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.info_sect header{
    text-align: center;
    padding: 10px;
}
.info_sect main{
    padding: 10px;
}

.our_group{
    border-right: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}
.info_sect main header{
    color: #bb9b7a;
}
ul, li, ol, a{
    font-family: 'Vollkorn', serif;
    color: #BCC1D4;
}
.our_group main ol li{
    text-decoration: none;
    list-style-type: none;
    padding-top: 6px;
}


section{
    padding: 1%;
}
.imageLogo{
    margin-left: 4%;
}